<% provide(:title, "Home") %>
<% provide(:noNav, "Home") %>

<body id="homebody" class="staticPagesBody">
<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	      </button>
	      <%= image_tag("coinflip-coin@.5x.png", :alt => "coinflip logo", :class => "logo") %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#home">Home</a></li>
	        <li><a href="#about">About</a></li>
	        <li><a href="#team">Team</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <% if current_user %>
	        	<li><a href="/login" id="login-nav">Profile</a></li>
	        <% else %>
						<li><a href="/login" id="login-nav">Register</a></li>
					<% end %>
	      </ul>
	    </div>
	  </div>
	</nav>
<div class="main-outer text-center" id="home">
	<!-- Home Banner -->
	<div id="particles-js" style="background-position: 50% 50%;"></div>
	<div class="full-page-banner">
		<div class="introduction-content max-size">
			<div class="container">
				<%= image_tag("flipcoin-logo.png", :alt => "", :class => "logo") %>
				<div class="countdown-holder">
					<div class="image-caption">
						Bridging the gap between consumer and crypto
					</div>
					<div class="countdown-label">
						Presale ends in:
					</div>
					<div class="countdown" id="countdown">
					</div>
					<div class="row">
						<a href="#about" class="col-sm-offset-2 col-sm-2 button">About</a>
						<a href="/faq" class="col-sm-offset-1 col-sm-2 button">FAQ</a>
						<a href="/signup" class="col-sm-offset-1 col-sm-2 button">Join Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Jump Right in Section -->
	<div class="jump-right-in-section">
		<div class="container">
			<h2 class="subsection-header-inverse">Jump Right in</h2>
			<div>
				<a class="github-link jri-li" href="https://github.com/jcksber/flipcoin">
					<div class="jri-inner-li">
						<i class="fa fa-github" target="_blank"></i> GITHUB
					</div>
				</a>
				<a class="slack-link jri-li" href="https://coinflip-team.slack.com/">
					<div class="jri-inner-li">
						<i class="fa fa-slack" target="_blank"></i> SLACK
					</div>
				</a>
				<a class="facebook-link jri-li" href="https://www.facebook.com/coinflipatm/">
					<div class="jri-inner-li">
						<i class="fa fa-facebook" target="_blank"></i> FACEBOOK
					</div>
				</a>
				<a class="twitter-link jri-li" href="https://twitter.com/coinflipatm">
					<div class="jri-inner-li">
						<i class="fa fa-twitter" target="_blank"></i> TWITTER
					</div>
				</a>
				<a class="token-sale-link jri-li" target="_blank">
					<div class="jri-inner-li">
						TOKEN SALE
					</div>
				</a>
			</div>
			<h2 class="subsection-header-inverse">FLIPCOIN TOKEN SALE DOCUMENTATION</h2>
			<div>
				<%= link_to "Onepager.pdf", :class => "token-sale-link jri-li", :target => "_blank" do %>
					<div class="jri-image-holder">
						<%= image_tag("Onepager-img.png", :alt => "One Pager image", :class => "jri-image") %>
						<div class="jri-inner-li">
						<i class="fa fa-download"></i> ONE PAGER
					</div>
					</div>
				<% end %>
				<%= link_to "Whitepaper.pdf", :class => "token-sale-link jri-li", :target => "_blank" do %>
					<div class="jri-image-holder">
						<%= image_tag("Whitepaper-img.png", :alt => "Whitepaper image", :class => "jri-image") %>
						<div class="jri-inner-li">
							<i class="fa fa-download"></i> FLIPCOIN WHITEPAPER
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<!-- What is Flipcoin Section -->
	<div class="what-is-flipcoin-section" id="about">
		<div class="container">
			<h2 class="subsection-header">What is CoinFlip?</h2>
			<p class="paragraph">At <a href="http://www.coinflip.tech" target="_blank" class="link">CoinFlip</a>, we feel that the exchange of different coins (like bitcoin and
			ether) into fiat currency should be a seamless and intuitive process. We are an
			established company in the Midwest that adheres to Know Your Customer
			and Anti-Money Laundering compliance protocols. Our goal is to create a
			global network of cryptocurrency ATMs that allow users to easily convert their
			highly-available fiat currency into relatively unobtainable digital assets and
			vice versa.</p>
			<p class="paragraph">While the cryptocurrency ATM network is not as expansive as the online
			exchanges, ATMs do provide a location where users can take advantage of a
			quick registration process and the convenience of being able to exchange cash
			for cryptocurrencies in a matter of minutes.</p>
			<p class="paragraph">Speed, convenience of acquisition, and a fair price are three sought-after
			components of cryptocurrency exchanges. In order to increase general
			awareness and encourage mass adoption, these facets need to be optimized.
			These are core values at CoinFlip as we are actively trying to expand the ATM
			network across the country and eventually, the globe. People should be able
			to make bitcoin and other cryptocurrency purchases without hassle and time
			constraints. The easier it is to freely exchange fiat for cryptocurrency and vice
			versa, the faster the overall crypto sphere will grow.</p>
			<br />
			<div class="row">
				<div class="col-xs-12">
					<div class="responsive-embed responsive-embed-16by9">
						<iframe class="responsive-embed-item" src="https://www.youtube.com/embed/Ai35-5q_wZI?&rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- So what is Flipcoin section -->
	<div class="so-what-is-flipcoin">
		<div class="container">
			<h2 class="subsection-header-inverse">So What is FlipCoin?</h2>
			<div class="row">
				<p class="paragraph-inverse">
					We are now excited to offer FlipCoin tokens to our dedicated supporters. They
					will be treated as a membership token that will provide benefits for those own
					it, with access to significant discounts, consulting, crypto networking events,
					and educational literature/videos created by CoinFlip (among other things).  
				</p>
				<p class="paragraph-inverse">
					The two biggest draws for purchasing FlipCoin are for customers and potential business partners. Paying 100 dollars grants purchasers a <span class="bold">lifetime discount on all CoinFlip purchases</span>. Paying 5000 dollars grants aspiring ATM operators the right to <span class="bold">a lifetime 50% reduction in fees for CoinFlip's brand licensing, managed tech support, customer service assistance, and compliance consulting</span>. 
				</p>
				<p class="paragraph-inverse">
					Purchasing these tokens allow for a mutualistic relationship between the buyer and our company. The buyer pays upfront in order to help us expand our operations and make the token more useful, and in return he or she receives an unheard-of discount that can pay for itself in as little as one purchase, or one year in business.
				</p>
				<p class="paragraph-inverse">
					Your funds will also be used to generate adoption in the crypto sphere as a whole, because our company seeks to make crypto more accessible to the average consumer via a familiar purchasing model (an ATM) with a familiar asset (cash).
				</p>
			</div>
			<div class="row">
				<%= link_to "Whitepaper.pdf", :class => "read-wp-button col-sm-4 col-sm-offset-4", :target => "_blank" do %>
					Read The Whitepaper
				<% end %>
			</div>
		</div>
	</div>
	<!-- Token Sale Terms section -->
	<div class="token-sale-terms">
		<div class="container">
			<h2 class="subsection-header">Token Sale Terms</h2>
			<div class="row">
				<div class="col-sm-5">
					<%= image_tag("chart.png", :alt => "chart") %>
				</div>
				<div class="col-sm-7">
					<p class="paragraph">Target on token sale: $5 million</p>
					<p class="paragraph">Target on crowdsale: $5 million</p>
					<p class="paragraph">Total token supply: 50 million composed of:</p>
					<ul>
						<li><i class="fa fa-arrow-right"></i>50% will be used for expansion</li>
						<li><i class="fa fa-arrow-right"></i>25% will be held in reserve</li>
						<li><i class="fa fa-arrow-right"></i>15% will fund the core team</li>
						<li><i class="fa fa-arrow-right"></i>10% will be used to globally upgrade software</li>
					</ul>
					<p class="paragraph">Ethereum ERC20 Token</p>
					<p class="paragraph">Purchase methods accepted: BTC and ETH</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Latest News Section -->
	<div class="latest-news">
		<div class="container">
			<h2 class="subsection-header">Latest News</h2>
			<div class="row"></div>
		</div>
	</div>
	<!-- Footer bar -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h6 class="title">Contact Us</h6>
					<ul class="nospace linklist contact">
		        <li><i class="fa fa-map-marker"></i>
		          <address>
		          Illinois, United States of America
		          </address>
		        </li>
		        <li><i class="fa fa-phone"></i>(773)-800-0106</li>
		        <li><i class="fa fa-envelope-o"></i>info<span class="x">[at]</span>coinflip<span class="x">[dot]</span>tech</li>
		        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/coinflipatm" class="linki blk">Twitter</a></li>
		        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/coinflipllc/" class="linki blk">Facebook</a></li>
		      </ul>
				</div>
				<div class="col-sm-6">
					<h6 class="title">Important Links</h6>
		      <ul class="nospace linklist">
		        <li><a class="linki blk" href="https://www.youtube.com/watch?v=Ai35-5q_wZIz">What is CoinFlip?</a></li>
		        <li><a class="linki blk" href="http://thebubbashow.org/bitcoin-atms-make-buying-and-selling-simple/">Daniel &amp; Todd “Bubba” Horwitz talk CoinFlip (Bubba Show)</a></li>
		        <li><a class="linki blk" href="https://cointelegraph.com/news/coinflip-atms-only-support-btc-not-bcc">CoinFlip's stance on the bitcoin hard fork</a></li>
		        <li><a class="linki blk" href="https://www.cryptoninjas.net/2017/08/02/coinflip-bitcoin-atm-adds-ether-litecoin-capabilities/">CoinFlip Bitcoin ATMs add Ether and Litecoin capabilities</a></li>
		      </ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="copyrightbar">
		<div class="container">
			© GPD Holdings, LLC 2016  FinCEN MSB BSA # 31000077968050
		</div>
	</footer>
</div>
<%= javascript_include_tag 'particles', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'particles-app', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'general', 'data-turbolinks-track': 'reload' %>
<script>
	var diffDay, diffHour, diffMin, diffSec, day, saleEnd, timeDiff, totalDiff;
	function displayTime(){
		day = new Date();
		saleEnd = new Date(2017,7,15,0,0,0,0);
		timeDiff = Math.abs(saleEnd.getTime() - day.getTime());
		diffDay = Math.floor(timeDiff / (1000 * 3600 * 24)); 
		diffHour = Math.floor(timeDiff / (1000 * 3600)) % 24; 
		diffMin = Math.floor(timeDiff / (1000 * 60)) % 60; 
		diffSec = Math.floor(timeDiff / (1000)) % 60; 

		totalDiff = ("0" + diffDay).slice(-2) + " : " + ("0" + diffHour).slice(-2) + " : " + ("0" + diffMin).slice(-2) + " : " + ("0" + diffSec).slice(-2);

		document.getElementById("countdown").innerHTML = totalDiff

		setTimeout(displayTime,1000);
	}
	displayTime();
</script>
</body>