<% provide(:title, "Home") %>
<% provide(:nav, "noNav") %>

<body id="homebody" class="staticPagesBody">
	<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <i class="fa fa-navicon" id="ham"></i>
	      </button>
	      <a href="#home">
	      	<%= image_tag("coinflip-coin@.5x.png", :alt => "coinflip logo", :class => "logo") %>
	      </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#about">About</a></li>
	        <li><a href="#tokensale">Token Sale</a></li>
	        <li><a href="#our-team">Team</a></li>
	        <% if current_user %>
	        	<li><a href="/login" id="login-nav">Login</a></li>
	        <% else %>
				<li><a href="/signup" id="login-nav">Register</a></li>
			<% end %>
	      </ul>
	    </div>
	  </div>
	</nav> 	
	<div class="main-outer text-center" id="home">
	<!-- Home Banner -->
	<div id="particles-js" style="background-position: 50% 50%;"></div>
	<div class="full-page-banner">
		<div class="introduction-content max-size">
			<div class="container">
				<div id="landing-logo">
					<%= image_tag("flipcoin-logo.png", :alt => "", :class => "logo") %>
				</div>
				<div class="countdown-holder">
					<div class="image-caption" id="logo-caption">
						Bridging the gap
						between consumer and crypto.
					</div>
					<div id="countdown-container">
						<div class="countdown-label" id="ctdn-label">
							Presale ends in:
						</div>
						<div class="countdown" id="countdown">
						</div>
					</div>
					<div class="row" id="btn-nest">
						<div class="kamikaze_btn">
							<% if current_user %>
				        		<a href="/login" id="landing-login">Login</a>
				        	<% else %>
								<a href="/signup" id="landing-register">Register</a>
							<% end %>
						</div>
						<div class="kamikaze_btn inv">
							<a style="margin-top:25px;" href="#learn-more">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Jump Right in Section -->
	<div class="jump-right-in-section" id="about">
		<div class="container">
			<h2 class="subsection-header-inverse">Jump Right in</h2>
			<div id="social-links">
				<a class="github-link jri-li" href="https://github.com/CoinflipATM/Flipcoin-Sale">
					<div class="jri-inner-li">
						<i class="fa fa-github fa-3x" target="_blank"></i> 
					</div>
				</a>
				<a class="slack-link jri-li" href="https://glacial-harbor-23630.herokuapp.com/">
					<div class="jri-inner-li">
						<i class="fa fa-slack fa-3x" target="_blank"></i>
					</div>
				</a>
				<a class="facebook-link jri-li" href="https://www.facebook.com/coinflipatm/">
					<div class="jri-inner-li">
						<i class="fa fa-facebook-f fa-3x" target="_blank"></i>
					</div>
				</a>
				<a class="twitter-link jri-li" href="https://twitter.com/coinflipatm">
					<div class="jri-inner-li">
						<i class="fa fa-twitter fa-3x" target="_blank"></i>
					</div>
				</a>
			</div>
			<hr id="tokensale">
			<h2 class="subsection-header-inverse">Token Sale Documentation</h2>
			<section>
				<div class="token-doc">
					<%= link_to "Onepager.pdf", :class => "token-sale-link jri-li", :target => "_blank" do %>
						<div class="jri-image-holder">
							<%= image_tag("Onepager-img.png", :alt => "One Pager image", :class => "jri-image") %>
							<div class="jri-inner-li">
							<i class="fa fa-download"></i> One-Pager
						</div>
						</div>
					<% end %>
				</div>
				<div class="token-doc">
					<%= link_to "Whitepaper.pdf", :class => "token-sale-link jri-li", :target => "_blank" do %>
						<div class="jri-image-holder">
							<%= image_tag("Whitepaper-img.png", :alt => "Whitepaper image", :class => "jri-image") %>
							<div class="jri-inner-li">
								<i class="fa fa-download"></i> White Paper
							</div>
						</div>
					<% end %>
				</div>
			</section>
		</div>
		<hr id="learn-more">
	</div>
	<!-- So what is Flipcoin section -->
	<div class="so-what-is-flipcoin" id="what-is-flipcoin">
		<div class="container">
			<div>
				<h2 class="subsection-header" style="margin-bottom:20px;"><span class="br">FlipCoin&nbsp;</span>(ticker "ATM")</h2>
				<h4 class="subsection-header sub">The Official Membership Token for CoinFlip</h4>
			</div>
			<div>
				<p class="paragraph">
					We are now excited to offer FlipCoin (ATM) tokens to our dedicated supporters. They
					will be treated as a membership token that will provide benefits for those who own
					it, with access to significant discounts, consulting, crypto networking events,
					and educational literature/videos created by CoinFlip (among other things).  
				</p>
				<p class="paragraph">
					The two biggest draws for purchasing FlipCoin are for customers and potential business partners.  Paying $100 grants purchasers a <span class="bold">lifetime discount on all CoinFlip domestic wire (2% fee) and ATM (3.5% fee) purchases.  These fees are roughly 1/5 of what some of our competitors charge.</span>  Paying $5,000 grants aspiring ATM operators the right to <span class="bold">waive CoinFlip's usual $10,000 upfront fee for initial set up, brand licensing, managed tech support, customer service assistance, and compliance consulting.</span>
				</p>
				<p class="paragraph">
					Purchasing these tokens allows for a mutualistic relationship between the buyer and our company. The buyer pays upfront in order to help us expand our operations and make the token more useful, and in return he or she receives an unheard-of discount that can pay for itself in as little as one purchase, or one year in business.
				</p>
				<p class="paragraph">
					Your funds will also be used to generate adoption in the crypto sphere as a whole, because our company seeks to make crypto more accessible to the average consumer via a familiar purchasing model (an ATM) with a familiar asset (cash).
				</p>
				<br />
			</div>
			<div class="row">
				<div class="kamikaze_btn">
					<a href="/signup" id="register-now">Register Now</a>
				</div>
			</div>
		</div>
	</div>
	<!-- What is CoinFlip Section -->
	<div class="what-is-flipcoin-section" id="token-sale">
		<div class="container">
			<h2 class="subsection-header">What is CoinFlip?</h2>
			<div>
				<p class="paragraph">At <a href="http://www.coinflip.tech" target="_blank" class="link">CoinFlip</a>, we feel that the exchange of different coins (like bitcoin and
				ether) into fiat currency should be a seamless and intuitive process. We are an
				established company in the Midwest that adheres to Know Your Customer
				and Anti-Money Laundering compliance protocols. Our goal is to create a
				global network of cryptocurrency ATMs that allow users to easily convert their
				highly-available fiat currency into relatively unobtainable digital assets and
				vice versa.</p>
				<p class="paragraph">While the cryptocurrency ATM network is not as expansive as the online
				exchanges, ATMs do provide a location where users can take advantage of a
				quick registration process and the convenience of being able to exchange cash
				for cryptocurrencies in a matter of minutes.</p>
				<p class="paragraph">Speed, convenience of acquisition, and a fair price are three sought-after
				components of cryptocurrency exchanges. In order to increase general
				awareness and encourage mass adoption, these facets need to be optimized.
				These are core values at CoinFlip as we are actively trying to expand the ATM
				network across the country and eventually, the globe. People should be able
				to make bitcoin and other cryptocurrency purchases without hassle and time
				constraints. The easier it is to freely exchange fiat for cryptocurrency and vice
				versa, the faster the overall crypto sphere will grow.</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="responsive-embed responsive-embed-16by9">
						<iframe class="responsive-embed-item" src="https://www.youtube.com/embed/Ai35-5q_wZI?&rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-sm-6 pp-center">
					<img src="assets/images/AvalonDark.png" style="width: 100%; padding: 0; margin: 0;">
				</div>
			</div> -->
		</div>
	</div>
	<!-- Token Sale Terms section -->
	<div class="token-sale-terms" id="sale-terms">
		<div class="container">
			<h2 class="subsection-header">Token Sale Terms</h2>
			<div>
				<div class="col-sm-6">
					<h4>FlipCoin (ATM) <a href="http://coinflipatms.com" class="link">by CoinFlip</a></h4>
					<p class="paragraph"><span class="bold">Token Sale Goal:</span> $5 million</p>
					<p class="paragraph"><span class="bold">Total token supply:</span> up to 50 million</p>
					<p class="paragraph">An ether or bitcoin wallet address will be displayed upon logging in on the sale’s website on the date of the crowd fund. Contributors will be able to send ether or bitcoin to the address in exchange for FlipCoin tokens for the entire duration of the sale. If you would like to participate, get started and register <a href="/signup" class="link">here.</a>
					</p>
				</div>
				<div class="col-sm-6 m-bottom-40">
					<h4>Sale (and Terms) Summary</h4>
					<p class="paragraph"><span class="bold">Presale:</span> 10 million tokens at $0.08 per token
					</p>
					<p class="paragraph"><span class="bold">Sale:</span> 30 million tokens at $0.10 per token
					</p>
					<p class="paragraph"><span class="bold">Last Chance:</span> 10 million tokens at $0.12 per token
					</p>
					<p class="paragraph">
						The ETH price of the tokens will be locked in one hour prior to the presale. CoinFlip reserves the right to readjust the ETH price in order to align correctly with the above dollar amounts. 
					</p>
				</div>
				<div class="col-sm-6">
					<h4>Future Funds Plans</h4>
					<%= image_tag("chart.png", :alt => "chart") %>
				</div>
				<div id="chart-key" class="col-sm-6">
					<ul>
						<li><i class="fa fa-arrow-right"></i>55% Expansion (30% Crypto Inventory, 15% Marketing, 10% New Machines)</li>
						<li><i class="fa fa-arrow-right"></i>20% Compliance, Accounting and Legal</li>
						<li><i class="fa fa-arrow-right"></i>15% Core Team Annual Salary</li>
						<li><i class="fa fa-arrow-right"></i>10% Software Upgrades</li>
					</ul>
					<p class="paragraph" style="padding-left: 0px !important;">
					<span class="bold">Purchase methods accepted:</span> BTC and ETH<br>
					<span class="bold">USD also accepted!</span><br> Please <a href="#footer" class="link">contact us</a> if cash is preferred.<br><br>
					Ethereum ERC20 Token
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr id="our-team">
	<!-- Team section -->
	<div class="team-section" id="team">
		<div class="container">
			<h2 class="subsection-header">Our Team</h2>
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppDaniel-Polotsky.png", :alt => "Daniel Polotsky Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Daniel Polotsky
								</div>
								<div class="pp-role">Chief Executive Officer
								</div>
							</div>	
						</div>
						<div class="pp-description">
							Daniel graduated from Northwestern University in 2017 with degrees in Economics and Russian Language and Literature. He came up with the idea for CoinFlip in 2014, and has previously held positions at Uber, R.J. O’Brien, Citadel, and Morgan Stanley. Daniel is responsible for idea generation, securing new investment, accounting, and compliance.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppKris-Dayrit.png", :alt => "Kris Dayrit Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Kris Dayrit
								</div>
								<div class="pp-role">Chief Marketing Officer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Kris owns five popular Chicago electronic cigarette shops, heads an electronic cigarette manufacturing company, and is a practicing nurse. Kris is responsible for building CoinFlip’s brand image, acquiring new locations, and licensing the company’s name to new operators.
						</div>
					</div>
				</div>
			</div>
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppBen-Weiss.png", :alt => "Ben Weiss Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Ben Weiss
								</div>
								<div class="pp-role">Chief Operating Officer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Ben graduated from Vanderbilt University in 2017 with a degree in Economics. He previously interned as a law clerk for the Cook County States Attorney’s Office in Chicago. Ben attends to the daily operations of the company, which include cash management, payroll, and data analysis.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppLarry-Mascolino.png", :alt => "Larry Mascolino Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Larry Mascolino
								</div>
								<div class="pp-role">Project Manager
								</div>
							</div>
						</div>
						<div class="pp-description">
							Larry graduated from Wake Forest University in 2017 with degrees in Biology and Entrepreneurship. He was previously a clinical rotation intern at Advocate Illinois Masonic Medical Center. Larry currently assists CoinFlip with daily operations and marketing. 
						</div>
					</div>
				</div>
			</div>
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppJack-Kasbeer.png", :alt => "Jack Kasbeer Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Jack Kasbeer
								</div>
								<div class="pp-role">Head Developer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Jack currently studies Mechanical Engineering at Carnegie Mellon University and aspires to make
							a career in the fashion industry.  His experience in web and iOS development are as extensive as his design portfolio, yet he favors computer architecture, system-level programming, and parallel thinking.  Jack takes functionality and security very seriously, and has worked diligently on the sale’s smart contracts.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppJethro-Au.png", :alt => "Jethro Au Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Jethro Au
								</div>
								<div class="pp-role">Ethereum Developer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Jethro currently studies at Northwestern University with a focus in managerial analytics, machine learning and process design. He has previous experience in systems security testing, predictive analytics, and and data management. Jethro has been an active investor in cryptocurrencies for several years.
						</div>
					</div>
				</div>
			</div>
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppChristopher-Li.jpg", :alt => "Christopher Li Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Christopher Li
								</div>
								<div class="pp-role">Web Developer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Chris graduated from Northwestern University in 2017 with degrees in Economics and Computer Science. He is a previous intern at Facebook and an incoming developer at Snapchat.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppMadin-Akpo-Esambe.png", :alt => "Madin Akpo-Esambe Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Madin Akpo-Esambe
								</div>
								<div class="pp-role">Marketing
								</div>
							</div>
						</div>
						<div class="pp-description">
							Madin graduated from Northwestern University in 2017 with degrees in Economics and Organizational Change, and currently works to create growth strategy insights at the The Cambridge Group. Prior to consulting, he held roles on the regulatory and investment sides of finance, working at both The Federal Reserve Bank and Goldman Sachs. 
						</div>
					</div>
				</div>
			</div>
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppJohn-Mejia.png", :alt => "John Mejia Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">John Mejia
								</div>
								<div class="pp-role">Marketing
								</div>
							</div>
						</div>
						<div class="pp-description">
							John studies Biomedical Engineering at the University of Illinois. He is a blockchain investor, enthusiast, and supporter. John is currently Involved in multiple token sale launches, with roles in marketing, compliance and ethical practice.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppJulia-Ainbinder.png", :alt => "Julia Ainbinder Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Julia Ainbinder
								</div>
								<div class="pp-role">Designer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Julia currently studies product design at Carnegie Mellon University. She has been doing freelance design work for over 5 years, and has completed several projects for CoinFlip. Currently, she is an Industrial/UX Design intern at iRobot. She is proficient in the Adobe Suite and Solidworks, and speaks 3 languages.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h2 class="subsection-header">Advisors</h2>
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppJoe-Ciccolo.jpg", :alt => "Joe Ciccolo Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Joe Ciccolo
								</div>
								<div class="pp-role">Compliance Expert
								</div>
							</div>
						</div>
						<div class="pp-description">
							Joe is the Founder of BitAML, a compliance advisory firm exclusively serving the bitcoin and digital currency market. BitAML clients include bitcoin ATM operators, exchanges, traders and trading platforms, altcoins, token sales, and token sale platforms.  
							<br /><br />
							Prior to launching BitAML, Joe was a founding member and architect of the BSA/AML program of a top 100 U.S.-based online financial institution. He also served as a project manager for a top 20 global bank, where he led several regulatory and AML audit remediation projects, and consulted on the enhancement of existing documentation and record retention procedures. Before entering the field of BSA/AML, Joe held leadership positions within various risk management disciplines, including vendor due diligence, fraud prevention, and corporate investigations.
							<br /><br />
							He is a frequent guest speaker at both bitcoin and compliance industry events, and regularly consults with regulators and policymakers.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppGenevieve-Thiers.jpg", :alt => "Genevieve Thiers Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Genevieve Thiers
								</div>
								<div class="pp-role">Entrepreneur & Activist
								</div>
							</div>
						</div>
						<div class="pp-description">
							Genevieve is the founder of Sittercity.com, America’s first online caregiving company. She was recognized by President Bush as the Small Business Administration Young Entrepreneur Champion of the Year for 2006, and her companies have won close to 20 major accolades. She has been featured on the TODAY show, Ellen, the View, the CBS Early Show, CNN, Live & Style, The Wall Street Journal, The New York Times, Redbook, Parents, Parenting, Marie Clare, TIME, Better Homes and Gardens, and Working Mother. <br><br>
							Genevieve is on faculty at the Farley School at Northwestern University, and has previously spoken or lectured at Harvard business school, Kellogg, Columbia, Babson, Boston College, U Chicago, and Microsoft. <br><br>
							Currently, she also heads the Rise Movement, which aims to tackle the economic apprehensions of the marginalized by holding tech leaders responsible for creating job opportunities, while upholding an emphasis on equal rights for genders, races and sexual orientations. 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row team-row">
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppGadi-Cohen.png", :alt => "Gadi Cohen Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Gadi Cohen
								</div>
								<div class="pp-role">Real Estate Developer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Mr. Cohen is an established multi-family real estate developer with over 40 years of experience.
							He served as an officer in the Israeli army at a young age and immigrated to the United States
							when he was 23 years old. He currently manages 186 employees and 16 properties throughout
							Illinois, Indiana, and Wisconsin. Outside of the US, he owns and operates a diving hotel in Bocas
							del Toro, Panama. He also owns cacao and mango farms in Peru. In addition to real estate
							development, Gadi has previous experience in the plastic manufacturing industry. Gadi is a
							family man with 3 daughters and when he is not busy curating his successful businesses, you
							may find him skydiving, flying, or scuba diving in his spare time.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder">
								<%= image_tag("ppMike-Marasco.jpg", :alt => "Gadi Cohen Profile Picture", :class => "pp") %>
							</div>
							<div class="pp-info-holder">
								<div class="pp-name">Mike Marasco
								</div>
								<div class="pp-role">Entrepreneur & Professor
								</div>
							</div>
						</div>
						<div class="pp-description">
							After 20+ years as experienced manager, leader, intrapreneur, and entrepreneur, Michael joined the full-time faculty (adjunct professor since 1998) of the Northwestern University (NU) McCormick School of Engineering and Applied Sciences in January 2007. Today he is a Clinical Professor and Director of the Farley Center for Entrepreneurship and Innovation (FCEI.)
							<br /><br />
							Michael currently serves on the Innovation Advisory Council of HAVI, a $9+ billion company in the analytics, marketing, supply chain, and packaging industries.
							<br /><br />
							He also continues to be an early stage investor. He currently sits on the board and/or advises a number of companies including Chimu, Agile Health, and Ullo. He is an angel investor in over 10 companies currently. He was recognized recently by Crain’s Chicago Business and TechWeek as a leader in the Chicago technology ecosystem.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partners Section -->
	<div id="partners">
		<div class="container">
			<h2 class="subsection-header">Proudly Partnered</h2>
			<div class="row">
				<div class="partner-logo" style="width:350px !important;margin:5px auto !important;">
					<%= image_tag("AvalonDark.png", :alt => "Avalon", :class => "partner-logo")%>
				</div>
				<!-- <div class="col-sm-4">
				</div>
				<div class="col-sm-4">
				</div> -->
			</div>
		</div>
	</div>
	<!-- Customer Testimonial Section -->
	<div class="customer-testimonial">
		<div class="container">
			<h2 class="subsection-header" style="margin-bottom:30px!important;">Customer Testimonials</h2>
			<div class="row row-inner">
				<div class="pp-pic-holder">
					<div class="ct-name">Todd Horberg
					</div>
				</div>
				<div class="pp-center">
					<div class="pp-description">
						<em>“As a sophisticated trader, my top two concerns entering the crypto space are security and a good deal. CoinFlip’s team has the best prices in the cash-to-crypto game by far; I saw one of their competitors charging north of a 15% mark up and was astonished by what CoinFlip offers in comparison.  A heavy discount off of the lowest fees simply can’t be beat.”</em>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Latest News Section -->
	<div class="latest-news">
		<div class="container">
			<h2 class="subsection-header" style="margin-top:0!important">Latest News</h2>
			<div class="row">
				<a href="http://www.huffingtonpost.com/entry/bridging-the-gap-crypto-atm-membership-tokens_us_599c550ee4b0521e90cfb55c">
					<div class="col-sm-4">
						<div class="news-block">
							<div class=news-logo-holder>
								<%= image_tag("logo-The-Huffington-Post.png", :alt => "Huffington Post logo", :class => "news-logo lg-huffingtonPost") %>
							</div>
							<div class="news-article-title">Bridging the Gap: Crypto ATM Membership Tokens</div>
							<div class="news-date">August 22, 2017</div>
						</div>
					</div>
				</a>
				<a href="https://www.cryptoninjas.net/2017/08/02/coinflip-bitcoin-atm-adds-ether-litecoin-capabilities/">
					<div class="col-sm-4">
						<div class="news-block">
							<div class=news-logo-holder>
								<%= image_tag("logo-The-Cryptoninjas.png", :alt => "Cryptoninjas logo", :class => "news-logo lg-cryptoninjas") %>
							</div>
							<div class="news-article-title">CoinFlip Bitcoin ATMs add Ether and Litecoin capabilities</div>
							<div class="news-date">August 2, 2017</div>
						</div>
					</div>
				</a>
				<a href="https://cointelegraph.com/news/coinflip-atms-only-support-btc-not-bcc">
					<div class="col-sm-4">
						<div class="news-block">
							<div class=news-logo-holder>
								<%= image_tag("logo-The-Cointelegraph.jpg", :alt => "Cointelegraph logo", :class => "news-logo lg-cointelegraph") %>
							</div>
							<div class="news-article-title">CoinFlip ATMs Only Support BTC, Not BCC</div>
							<div class="news-date">July 30, 2017</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row">
				<a href="http://thebubbashow.org/bitcoin-atms-make-buying-and-selling-simple/">
					<div class="col-sm-4">
						<div class="news-block">
							<div class=news-logo-holder>
								<%= image_tag("logo-The-Bubba-Show.png", :alt => "The Bubba Show logo", :class => "news-logo lg-bubba") %>
							</div>
							<div class="news-article-title">Bitcoin ATM’s Make Buying and Selling Simple</div>
							<div class="news-date">February 10, 2017</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Footer bar -->
	<div id="footer">
		<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h6 class="title">Contact Us</h6>
				<ul class="nospace linklist contact">
	        		<li><i class="fa fa-map-marker"></i>
	          			<address>Illinois, United States of America</address>
	        		</li>
	        		<li><i class="fa fa-phone"></i>(224)-688-9977</li>
	        		<li><i class="fa fa-envelope-o"></i>info<span class="x">[at]</span>coinflip<span class="x">[dot]</span>tech</li>
	        		<ul id="foot-social">
	        			<li><a href="https://github.com/CoinflipATM/Flipcoin-Sale" class="linki blk"><i class="fa fa-github"></i></a>
	        			</li>
	        			<li><a href="https://glacial-harbor-23630.herokuapp.com/" class="linki blk"><i class="fa fa-slack"></i></a>
	        			</li>
	        			<li><a href="https://www.facebook.com/coinflipatm/" class="linki blk"><i class="fa fa-facebook"></i></a>
	        			</li>
	        			<li><a href="https://twitter.com/coinflipatm" class="linki blk"><i class="fa fa-twitter"></i></a>
	        			</li>
	        		</ul>
	      		</ul>
			</div>
			<div class="col-sm-6">
				<h6 class="title">Important Links</h6>
	      		<ul class="nospace linklist">
	        		<li><a class="linki blk" href="https://www.youtube.com/watch?v=Ai35-5q_wZIz">What is CoinFlip?</a></li>
	        		<li><a class="linki blk" href="http://thebubbashow.org/bitcoin-atms-make-buying-and-selling-simple/">Daniel &amp; Todd “Bubba” Horwitz talk CoinFlip (Bubba Show)</a></li>
	        		<li><a class="linki blk" href="https://cointelegraph.com/news/coinflip-atms-only-support-btc-not-bcc">CoinFlip's stance on the bitcoin hard fork</a></li>
	        		<li><a class="linki blk" href="https://www.cryptoninjas.net/2017/08/02/coinflip-bitcoin-atm-adds-ether-litecoin-capabilities/">CoinFlip Bitcoin ATMs add Ether and Litecoin capabilities</a></li>
	      		</ul>
			</div>
		</div>
	</div>
	</div>
	<footer class="copyrightbar">
		<div class="container">
			© GPD Holdings, LLC 2016  FinCEN MSB BSA # 31000077968050
			<p class="disclaimer">These tokens do not have any value outside of CoinFlip’s network, do not indicate how well or poorly CoinFlip is performing, do not represent an ownership stake in CoinFlip, and should not be expected to rise in price/value over time.</p>
		</div>
	</footer>
	</div>
	<%= javascript_include_tag 'particles', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'particles-app', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'general', 'data-turbolinks-track': 'reload' %>
	<a href="htts://jackkasbeer.co" style="display:none;">kamikaze was here</a>
	<script>
		var diffDay, diffHour, diffMin, diffSec, day, saleEnd, timeDiff, totalDiff;
		function displayTime(){
			day = new Date();
			saleEnd = new Date(2017,8,14,21,0,0,0);
			timeDiff = Math.abs(saleEnd.getTime() - day.getTime());
			diffDay = Math.floor(timeDiff / (1000 * 3600 * 24)); 
			diffHour = Math.floor(timeDiff / (1000 * 3600)) % 24; 
			diffMin = Math.floor(timeDiff / (1000 * 60)) % 60; 
			diffSec = Math.floor(timeDiff / (1000)) % 60; 

			totalDiff = ("0" + diffDay).slice(-2) + " : " + ("0" + diffHour).slice(-2) + " : " + ("0" + diffMin).slice(-2) + " : " + ("0" + diffSec).slice(-2);

			document.getElementById("countdown").innerHTML = totalDiff

			setTimeout(displayTime,1000);
		}
		displayTime();

		var supports3DTransforms =  document.body.style['webkitPerspective'] !== undefined || 
	                              document.body.style['MozPerspective'] !== undefined;
		function linkify( selector ) {
		    if( supports3DTransforms ) {
		        
		        var nodes = document.querySelectorAll( selector );

		        for( var i = 0, len = nodes.length; i < len; i++ ) {
		            var node = nodes[i];

		            if( !node.className || !node.className.match( /roll/g ) ) {
		                node.className += ' roll';
		                node.innerHTML = '<span data-title="'+ node.text +'">' + node.innerHTML + '</span>';
		            }
		        };
		    }
		} 
		linkify( 'a.linki' );
	</script>
	<style>
	#footer > .container .contact li > a > i {
			position: relative !important;
			display: inline-block !important;
			margin: 0 50px !important;
			padding: 2px !important;
		}
	</style>
</body>