<% provide(:title, "Home") %>
<% provide(:noNav, "Home") %>

<body id="homebody" class="staticPagesBody">
<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	      </button>
	      <%= image_tag("coinflip-coin@.5x.png", :alt => "coinflip logo", :class => "logo") %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#home">Home</a></li>
	        <li><a href="#about">About</a></li>
	        <li><a href="#team">Team</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <% if current_user %>
	        	<li><a href="/login" id="login-nav">Profile</a></li>
	        <% else %>
						<li><a href="/login" id="login-nav">Login</a></li>
					<% end %>
	      </ul>
	    </div>
	  </div>
	</nav>
<div class="main-outer text-center" id="home">
	<!-- Home Banner -->
	<div id="particles-js" style="background-position: 50% 50%;"></div>
	<div class="full-page-banner">
		<div class="introduction-content max-size">
			<div class="container">
				<%= image_tag("flipcoin-logo.png", :alt => "", :class => "logo") %>
				<div class="countdown-holder">
					<div class="image-caption">
						Bridging the gap between consumer and crypto
					</div>
					<div class="countdown-label">
						Presale ends in:
					</div>
					<div class="countdown" id="countdown">
					</div>
					<div class="row">
						<a href="#about" class="col-sm-offset-2 col-sm-2 button">About</a>
						<a href="/faq" class="col-sm-offset-1 col-sm-2 button">FAQ</a>
						<a href="/signup" class="col-sm-offset-1 col-sm-2 button">Join Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Jump Right in Section -->
	<div class="jump-right-in-section">
		<div class="container">
			<h2 class="subsection-header-inverse">Jump Right in</h2>
			<div>
				<a class="github-link jri-li" href="https://github.com/jcksber/flipcoin">
					<div class="jri-inner-li">
						<i class="fa fa-github" target="_blank"></i> GITHUB
					</div>
				</a>
				<a class="slack-link jri-li" href="https://coinflip-team.slack.com/">
					<div class="jri-inner-li">
						<i class="fa fa-slack" target="_blank"></i> SLACK
					</div>
				</a>
				<a class="facebook-link jri-li" href="https://www.facebook.com/coinflipatm/">
					<div class="jri-inner-li">
						<i class="fa fa-facebook" target="_blank"></i> FACEBOOK
					</div>
				</a>
				<a class="twitter-link jri-li" href="https://twitter.com/coinflipatm">
					<div class="jri-inner-li">
						<i class="fa fa-twitter" target="_blank"></i> TWITTER
					</div>
				</a>
				<a class="token-sale-link jri-li" target="_blank">
					<div class="jri-inner-li">
						TOKEN SALE
					</div>
				</a>
			</div>
			<h2 class="subsection-header-inverse">FLIPCOIN TOKEN SALE DOCUMENTATION</h2>
			<div>
				<%= link_to "Onepager.pdf", :class => "token-sale-link jri-li", :target => "_blank" do %>
					<div class="jri-image-holder">
						<%= image_tag("Onepager-img.png", :alt => "One Pager image", :class => "jri-image") %>
						<div class="jri-inner-li">
						<i class="fa fa-download"></i> ONE PAGER
					</div>
					</div>
				<% end %>
				<%= link_to "Whitepaper.pdf", :class => "token-sale-link jri-li", :target => "_blank" do %>
					<div class="jri-image-holder">
						<%= image_tag("Whitepaper-img.png", :alt => "Whitepaper image", :class => "jri-image") %>
						<div class="jri-inner-li">
							<i class="fa fa-download"></i> FLIPCOIN WHITEPAPER
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<!-- What is Flipcoin Section -->
	<div class="what-is-flipcoin-section" id="about">
		<div class="container">
			<h2 class="subsection-header">What is CoinFlip?</h2>
			<br />
			<p class="paragraph">At <a href="http://www.coinflip.tech" target="_blank" class="link">CoinFlip</a>, we feel that the exchange of different coins (like bitcoin and
			ether) into fiat currency should be a seamless and intuitive process. We are an
			established company in the Midwest that adheres to Know Your Customer
			and Anti-Money Laundering compliance protocols. Our goal is to create a
			global network of cryptocurrency ATMs that allow users to easily convert their
			highly-available fiat currency into relatively unobtainable digital assets and
			vice versa.</p>
			<p class="paragraph">While the cryptocurrency ATM network is not as expansive as the online
			exchanges, ATMs do provide a location where users can take advantage of a
			quick registration process and the convenience of being able to exchange cash
			for cryptocurrencies in a matter of minutes.</p>
			<p class="paragraph">Speed, convenience of acquisition, and a fair price are three sought-after
			components of cryptocurrency exchanges. In order to increase general
			awareness and encourage mass adoption, these facets need to be optimized.
			These are core values at CoinFlip as we are actively trying to expand the ATM
			network across the country and eventually, the globe. People should be able
			to make bitcoin and other cryptocurrency purchases without hassle and time
			constraints. The easier it is to freely exchange fiat for cryptocurrency and vice
			versa, the faster the overall crypto sphere will grow.</p>
			<br />
			<div class="row">
				<div class="col-xs-12">
					<div class="responsive-embed responsive-embed-16by9">
						<iframe class="responsive-embed-item" src="https://www.youtube.com/embed/Ai35-5q_wZI?&rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- How it works section -->
	<!-- <div class="how-it-works-section">
		<div class="container">
			<h2 class="subsection-header-inverse">So What Is FlipCoin?</h2>
			<div class="row">
				<div class="col-sm-6">
					
				</div>
				<div class="col-sm-6">
					
				</div>
			</div>
		</div>
	</div> -->
	<!-- So what is Flipcoin section -->
	<div class="so-what-is-flipcoin">
		<div class="container">
			<h2 class="subsection-header-inverse">So What is FlipCoin?</h2>
			<div class="row">
				<div class="col-sm-6">
					<div class="swif-section">
						<h3 class="subsubsection-header-inverse">CoinFlip Success</h3>
						<p class="paragraph-inverse">The two biggest draws for purchasing FlipCoin are for customers and potential business partners. Paying 100 dollars grants purchasers a bolded( lifetime discount on all CoinFlip purchases). Paying 5000 dollars grants aspiring ATM operators the right tokens <strong>a lifetime 50% reduction in fees for CoinFlip's brand licensing, managed tech support, customer service assistance, and compliance consulting</strong>. </p>
						<p class="paragraph-inverse">Purchasing these tokens allow for a mutualistic relationship between the buyer and our company. The buyer pays upfront in order to help us expand our operations and make the token more useful, and in return he or she receives an unheard-of discount that can pay for itself in as little as one purchase, or one year in business.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="swif-section">
						<h3 class="subsubsection-header-inverse">FlipCoin Token</h3>
						<p class="paragraph-inverse">We are now excited to offer FlipCoin tokens to our dedicated supporters. They will be treated as a membership token that will provide benefits for those own it, with access to significant discounts, consulting, crypto networking events, and educational literature/videos created by CoinFlip (among other things).</p>
					</div>
				</div>
			</div>
			<div class="row">
				<%= link_to "Whitepaper.pdf", :class => "read-wp-button col-sm-4 col-sm-offset-4", :target => "_blank" do %>
					Read The Whitepaper
				<% end %>
			</div>
		</div>
	</div>
	<!-- Token Sale Terms section -->
	<div class="token-sale-terms">
		<div class="container">
			<h2 class="subsection-header">Token Sale Terms</h2>
			<div class="row">
				<div class="col-sm-5">
					<%= image_tag("chart.png", :alt => "chart") %>
				</div>
				<div class="col-sm-7">
					<p class="paragraph">Target on token sale: $5 million</p>
					<p class="paragraph">Target on crowdsale: $5 million</p>
					<p class="paragraph">Total token supply: 50 million composed of:</p>
					<ul>
						<li><i class="fa fa-arrow-right"></i>50% will be used for expansion</li>
						<li><i class="fa fa-arrow-right"></i>25% will be held in reserve</li>
						<li><i class="fa fa-arrow-right"></i>15% will fund the core team</li>
						<li><i class="fa fa-arrow-right"></i>10% will be used to globally upgrade software</li>
					</ul>
					<p class="paragraph">Ethereum ERC20 Token</p>
					<p class="paragraph">Purchase methods accepted: BTC and ETH</p>
				</div>
			</div>
		</div>
	</div>
	<!-- How to buy section -->
	<div class="how-to-buy">
		
	</div>
	<div class="contact-us"></div>
	<!-- Team section -->
	<div class="team-section" id="team">
		<h2>Our Team</h2>
		<div class="container">
			<div class="row team-row">
				<div class="col-sm-4">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-5">
								<%= image_tag("ppDaniel-Polotsky.png", :alt => "Daniel Polotsky Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Daniel Polotsky
								</div>
								<div class="pp-role">
									Chief Executive Officer
								</div>
							</div>	
						</div>
						<div class="pp-description">
							Daniel graduated from Northwestern University in 2017 with degrees in Economics and Russian Language and Literature. He came up with the idea for CoinFlip in 2014, and has previously held positions at Uber, R.J. O’Brien, Citadel, and Morgan Stanley. Daniel is responsible for idea generation, securing new investment, accounting, and compliance.
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-5">
								<%= image_tag("ppKris-Dayrit.png", :alt => "Kris Dayrit Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Kris Dayrit
								</div>
								<div class="pp-role">
									Chief Marketing Officer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Kris owns five popular Chicago electronic cigarette shops, heads an electronic cigarette manufacturing company, and is a practicing nurse. Kris is responsible for building CoinFlip’s brand image, acquiring new locations, and licensing the company’s name to new operators.
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-5">
								<%= image_tag("ppAlan-Gurevich.png", :alt => "Alan Gurevich Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Alan Gurevich
								</div>
								<div class="pp-role">
									Chief Technology Officer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Alan has previous experience in retail, and used to be a top-performing technology salesperson for CDW. He is incredibly tech-savvy, and is responsible for customer service, implementing software upgrades, troubleshooting, and working with our ATM manufacturer to improve functionality and fix bugs.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-dark">
			<div class="container">
				<div class="row team-row">
					<div class="col-sm-4">
						<div class="pp-holder">
							<div class="row row-inner">
								<div class="pp-pic-holder col-xs-5">
									<%= image_tag("ppBen-Weiss.png", :alt => "Ben Weiss Profile Picture", :class => "pp") %>
								</div>
								<div class="col-xs-7">
									<div class="pp-name">
										Ben Weiss
									</div>
									<div class="pp-role">
										Chief Operating Officer
									</div>
								</div>
							</div>
							<div class="pp-description">
								Ben graduated from Vanderbilt University in 2017 with a degree in Economics. He previously interned as a law clerk for the Cook County States Attorney’s Office in Chicago. Ben attends to the daily operations of the company, which include cash management, payroll, and data analysis.
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pp-holder">
							<div class="row row-inner">
								<div class="pp-pic-holder col-xs-5">
									<%= image_tag("ppLarry-Mascolino.png", :alt => "Larry Mascolino Profile Picture", :class => "pp") %>
								</div>
								<div class="col-xs-7">
									<div class="pp-name">
										Larry Mascolino
									</div>
									<div class="pp-role">
										Project Manager
									</div>
								</div>
							</div>
							<div class="pp-description">
								Larry graduated from Wake Forest University in 2017 with degrees in Biology and Entrepreneurship. He was previously a clinical rotation intern at Advocate Illinois Masonic Medical Center. Larry currently assists CoinFlip with daily operations and marketing. 
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pp-holder">
							<div class="row row-inner">
								<div class="pp-pic-holder col-xs-5">
									<%= image_tag("ppJack-Kasbeer.png", :alt => "Jack Kasbeer Profile Picture", :class => "pp") %>
								</div>
								<div class="col-xs-7">
									<div class="pp-name">
										Jack Kasbeer
									</div>
									<div class="pp-role">
										Head Software Engineer
									</div>
								</div>
							</div>
							<div class="pp-description">
								Jack currently studies Mechanical Engineering at Carnegie Mellon University. He has extensive experience in web development/design, iOS development/design, computer architecture, and systems programming. Jack takes functionality and security very seriously, and has worked diligently on the sale’s smart contracts.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row team-row">
				<div class="col-sm-4">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-5">
								<%= image_tag("ppJethro-Au.png", :alt => "Jethro Au Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Jethro Au
								</div>
								<div class="pp-role">
									Developer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Jethro currently studies at Northwestern University with a focus in managerial analytics, machine learning and process design. He has previous experience in systems security testing, predictive analytics, and and data management. Jethro has been an active investor in cryptocurrencies for several years.
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-5">
								<%= image_tag("ppChristopher-Li.jpg", :alt => "Christopher Li Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Christopher Li
								</div>
								<div class="pp-role">
									Developer
								</div>
							</div>
						</div>
						<div class="pp-description">
							Chris graduated from Northwestern University in 2017 with degrees in Economics and Computer Science. He is a previous intern at Facebook and an incoming developer at Snap Inc. Chris is responsible for website maintenance and is assisting with the Solidity smart contracts.
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-5">
								<%= image_tag("ppMadin-Akpo-Esambe.png", :alt => "Madin Akpo-Esambe Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Madin Akpo-Esambe
								</div>
								<div class="pp-role">
									Marketing
								</div>
							</div>
						</div>
						<div class="pp-description">
							Madin graduated from Northwestern University in 2017 with degrees in Economics and Organizational Change, and currently works to create growth strategy insights at the The Cambridge Group. Prior to consulting, he held roles on the regulatory and investment sides of finance, working at both The Federal Reserve Bank and Goldman Sachs. 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-dark">
			<div class="container">
				<div class="row team-row">
					<div class="col-sm-4">
						<div class="pp-holder">
							<div class="row row-inner">
								<div class="pp-pic-holder col-xs-5">
									<%= image_tag("ppJohn-Mejia.png", :alt => "John Mejia Profile Picture", :class => "pp") %>
								</div>
								<div class="col-xs-7">
									<div class="pp-name">
										John Mejia
									</div>
									<div class="pp-role">
										Marketing
									</div>
								</div>
							</div>
							<div class="pp-description">
								John studies Biomedical Engineering at the University of Illinois at Urbana–Champaign. He is a blockchain investor, enthusiast, and supporter. John is currently Involved in multiple token sale launches, with roles in marketing, compliance and ethical practice.
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pp-holder">
							<div class="row row-inner">
								<div class="pp-pic-holder col-xs-5">
									<%= image_tag("ppJulia-Ainbinder.png", :alt => "Julia Ainbinder Profile Picture", :class => "pp") %>
								</div>
								<div class="col-xs-7">
									<div class="pp-name">
										Julia Ainbinder
									</div>
									<div class="pp-role">
										Designer
									</div>
								</div>
							</div>
							<div class="pp-description">
								Julia currently studies product design at Carnegie Mellon University. She has been doing freelance design work for over 5 years, and has completed several projects for CoinFlip. Currently, she is an Industrial/UX Design intern at iRobot. She is proficient in the Adobe Suite and Solidworks, and speaks 3 languages.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h2>Advisors</h2>
		<div class="container">
			<div class="row team-row">
				<div class="col-sm-12">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-sm-2 col-xs-5">
								<%= image_tag("ppMike-Marasco.jpg", :alt => "Gadi Cohen Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Mike Marasco
								</div>
								<div class="pp-role">
									Advisor
								</div>
							</div>
						</div>
						<div class="pp-description">
							After 20+ years as experienced manager, leader, intrapreneur, and entrepreneur, Michael joined the full-time faculty (adjunct professor since 1998) of the Northwestern University (NU) McCormick School of Engineering and Applied Sciences in January 2007. Today he is a Clinical Professor and Director of the Farley Center for Entrepreneurship and Innovation (FCEI.)
							<br /><br />
							Michael currently serves on the Innovation Advisory Council of HAVI, a $9+ billion company in the analytics, marketing, supply chain, and packaging industries.
							<br /><br />
							He also continues to be an early stage investor. He currently sits on the board and/or advises a number of companies including Chimu, Agile Health, and Ullo. He is an angel investor in over 10 companies currently. He was recognized recently by Crain’s Chicago Business and TechWeek as a leader in the Chicago technology ecosystem.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-dark">
			<div class="container">
				<div class="row team-row">
					<div class="col-sm-12">
						<div class="pp-holder">
							<div class="row row-inner">
								<div class="pp-pic-holder col-xs-2">
									<%= image_tag("ppJoe-Ciccolo.jpg", :alt => "Gadi Cohen Profile Picture", :class => "pp") %>
								</div>
								<div class="col-xs-7">
									<div class="pp-name">
										Joe Ciccolo
									</div>
									<div class="pp-role">
										Advisor
									</div>
								</div>
							</div>
							<div class="pp-description">
								Joe is the Founder of BitAML, a compliance advisory firm exclusively serving the bitcoin and digital currency market. BitAML clients include bitcoin ATM operators, exchanges, traders and trading platforms, altcoins, token sales, and token sale platforms.  
								<br /><br />
								Prior to launching BitAML, Joe was a founding member and architect of the BSA/AML program of a top 100 U.S.-based online financial institution. He also served as a project manager for a top 20 global bank, where he led several regulatory and AML audit remediation projects, and consulted on the enhancement of existing documentation and record retention procedures. Before entering the field of BSA/AML, Joe held leadership positions within various risk management disciplines, including vendor due diligence, fraud prevention, and corporate investigations.
								<br /><br />
								He is a frequent guest speaker at both bitcoin and compliance industry events, and regularly consults with regulators and policymakers.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row team-row">
				<div class="col-sm-12">
					<div class="pp-holder">
						<div class="row row-inner">
							<div class="pp-pic-holder col-xs-2">
								<%= image_tag("ppGadi-Cohen.png", :alt => "Gadi Cohen Profile Picture", :class => "pp") %>
							</div>
							<div class="col-xs-7">
								<div class="pp-name">
									Gadi Cohen
								</div>
								<div class="pp-role">
									Advisor
								</div>
							</div>
						</div>
						<div class="pp-description">
							Mr. Cohen is an established multi-family real estate developer with over 40 years of experience.  He served as an officer in the Israeli army at a young age and immigrated to the United States when he was 23 years old. He currently manages 186 employees and 16 properties throughout Illinois, Indiana, and Wisconsin. Outside of the US, he owns and operates a diving hotel in Bocas del Toro, Panama. He also owns cacao and mango farms in Peru. 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer bar -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h6 class="title">Contact Us</h6>
					<ul class="nospace linklist contact">
		        <li><i class="fa fa-map-marker"></i>
		          <address>
		          Illinois, United States of America
		          </address>
		        </li>
		        <li><i class="fa fa-phone"></i>(773)-800-0106</li>
		        <li><i class="fa fa-envelope-o"></i>info<span class="x">[at]</span>coinflip<span class="x">[dot]</span>tech</li>
		        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/coinflipatm" class="linki blk">Twitter</a></li>
		        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/coinflipllc/" class="linki blk">Facebook</a></li>
		      </ul>
				</div>
				<div class="col-sm-6">
					<h6 class="title">Important Links</h6>
		      <ul class="nospace linklist">
		        <li><a class="linki blk" href="https://www.youtube.com/watch?v=Ai35-5q_wZIz">What is CoinFlip?</a></li>
		        <li><a class="linki blk" href="http://thebubbashow.org/bitcoin-atms-make-buying-and-selling-simple/">Daniel &amp; Todd “Bubba” Horwitz talk CoinFlip (Bubba Show)</a></li>
		        <li><a class="linki blk" href="https://cointelegraph.com/news/coinflip-atms-only-support-btc-not-bcc">CoinFlip's stance on the bitcoin hard fork</a></li>
		        <li><a class="linki blk" href="https://www.cryptoninjas.net/2017/08/02/coinflip-bitcoin-atm-adds-ether-litecoin-capabilities/">CoinFlip Bitcoin ATMs add Ether and Litecoin capabilities</a></li>
		      </ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="copyrightbar">
		<div class="container">
			© GPD Holdings, LLC 2016  FinCEN MSB BSA # 31000077968050
		</div>
	</footer>
</div>
<%= javascript_include_tag 'particles', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'particles-app', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'general', 'data-turbolinks-track': 'reload' %>
<script>
	var diffDay, diffHour, diffMin, diffSec, day, saleEnd, timeDiff, totalDiff;
	function displayTime(){
		day = new Date();
		saleEnd = new Date(2017,7,15,0,0,0,0);
		timeDiff = Math.abs(saleEnd.getTime() - day.getTime());
		diffDay = Math.floor(timeDiff / (1000 * 3600 * 24)); 
		diffHour = Math.floor(timeDiff / (1000 * 3600)) % 24; 
		diffMin = Math.floor(timeDiff / (1000 * 60)) % 60; 
		diffSec = Math.floor(timeDiff / (1000)) % 60; 

		totalDiff = ("0" + diffDay).slice(-2) + " : " + ("0" + diffHour).slice(-2) + " : " + ("0" + diffMin).slice(-2) + " : " + ("0" + diffSec).slice(-2);

		document.getElementById("countdown").innerHTML = totalDiff

		setTimeout(displayTime,1000);
	}
	displayTime();
</script>
</body>