<% provide(:title, "Log in") %>

<div class="login">
<div class="container">
  <div>
    <div class="login-holder one-edge-shadow">
      <h2>FlipCoin Member Login</h2>
      <p>New user?<br><%= link_to "Sign up now!", signup_path %></p>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "kamikaze_btn-noa" %>
      <% end %>
    </div>
  </div>
</div>
<style>
  .login-holder {
    width: 50%;
    border: 2px solid #F1F1F1;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding: 20px;
    box-shadow: 0 8px 6px -6px #444;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px !important;
  }
  .login-holder > form {
    text-align: center;
  }
  .login-holder > form > label {
    text-align: left;
  }
  .login-holder > h2 {
    font-size: 1.5em;
    margin: 10px auto;
  }
  .login-holder p {
    text-align: center;
    margin: 30px auto;
    color: #656565;
  }
  .login-holder p a {
    color: #DFA94F; 
    text-decoration: none; 
  }
  .login-holder .kamikaze_btn-noa {
    margin: 10px auto;
  }
</style>
</div>