<% provide(:title, "Log in") %>

<div class="login">
<div class="container">
  <div>
    <div class="login-holder one-edge-shadow">
      <h2>FlipCoin Member Login</h2>
      <p id="ERRnexistence" class="pp-description">New user?<br><%= link_to "Sign up now!", signup_path %></p>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "kamikaze_btn-noa" %>
      <% end %>
    </div>
  </div>
</div>
</div>