<% provide(:title, "Edit") %>

<div class="signup">
<div class="container">
	<div class="row">
		<div class="signup-holder col-md-6 col-md-offset-3">
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages' %>
				<%= f.label :firstName %>
				<%= f.text_field :firstName, class: 'form-control' %>
				
				<%= f.label :lastName %>
				<%= f.text_field :lastName, class: 'form-control' %>
				
				<%= f.label :email %>
				<%= f.text_field :email, class: 'form-control' %>

				<%= f.label :phoneNumber, value: 'Phone Number' %>
				<%= f.text_field :phoneNumber, class: 'form-control', placeholder: "1-888-222-6666" %>
				
				<%= f.label :address1, value: 'Address Line 1 *' %>
				<%= f.text_field :address1, class: 'form-control' %>

				<%= f.label :address2, value: 'Address Line 2' %>
				<%= f.text_field :address2, class: 'form-control' %>

				<%= f.label :city, value: 'City *' %>
				<%= f.text_field :city, class: 'form-control' %>

				<%= f.label :zipCode, value: 'Postal / Zip Code *' %>
				<%= f.text_field :zipCode, class: 'form-control' %>

				<%= f.label :state, value: 'State/Province *' %>
				<%= f.text_field :state, class: 'form-control' %>

				<%= f.label :dob, value: 'Date of Birth *' %>
				<%= f.date_select :dob, class: 'form-control', start_year: Date.today.year - 100, end_year: Date.today.year %>

				<%= f.label :estimatedContribution, value: 'Estimated Contribution (USD) *' %>
				<%= f.text_field :estimatedContribution, class: 'form-control', placeholder: "5000" %>

<!-- 				<%= f.label :admin %>
				<br />
				<input id="admin_true" name="admin" type="radio" value="true" />
				<label for="admin_true">True</label>
				<input id="admin_false" name="admin" type="radio" value="false" />
				<label for="admin_false">False</label>
				<br /><br />
 -->
		    <%= f.submit "Update my account", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
</div>
<!-- <%= render 'form', user: @user %> -->

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
