<!--
	PROFILE SETTINGS
	August 25, 2017
-->

<% provide(:title, "Edit") %>

<div class="signup">
<div class="container">
	<div class="signup-holder" id ="signup-collapse">
    <div class="signup-intro">
      <h2 class="greeting">Edit your Profile</h2>
    </div>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
				<div class="center-block">
					<% if @user.isEntity %>
						<div class="REG input-field">
							<%= f.text_field :firstName, class: 'form-control validate' %>
          		<%= f.label :firstName, value: 'Name' %>
						</div>
					<% else %>
						<div class="REG input-field">
							<%= f.text_field :firstName, class: 'form-control validate' %>
							<%= f.label :firstName, value: 'First Name' %>
						</div>
						<div class="REG input-field">
							<%= f.text_field :lastName, class: 'form-control validate' %>
							<%= f.label :lastName, value: 'Last Name' %>
						</div>
					<% end %>
				</div>
				<div class="center-block">
					<div class="REG input-field">
						<%= f.text_field :estimatedContribution, class: 'form-control', placeholder: "5000" %>
						<%= f.label :estimatedContribution, value: 'Estimated Contribution (USD)' %>
					</div>
					<div class="REG input-field">
						<%= f.text_field :phoneNumber, class: 'form-control', placeholder: "1-888-222-6666" %>
						<%= f.label :phoneNumber, value: 'Phone Number' %>
					</div>
				</div>
					<!-- DELETED ADDRESS INPUTS -->
				<div class="center-block">
					<div class="REG input-field">
						<%= f.text_field :address1, class: 'form-control' %>
						<%= f.label :address1, value: 'Address Line 1' %>
					</div>
					<div class="REG input-field">
						<%= f.text_field :address2, class: 'form-control' %>
						<%= f.label :address2, value: 'Address Line 2' %>
					</div>
				</div>
				<div class="center-block">
					<div class="REG input-field">
						<%= f.text_field :city, class: 'form-control' %>
						<%= f.label :city, value: 'City' %>
					</div>
					<div class="REG input-field">
						<%= f.text_field :zipCode, class: 'form-control' %>
						<%= f.label :zipCode, value: 'Postal / Zip Code' %>
					</div>
				</div>
				<div class="center-block">
					<div class="REG input-field">
						<%= f.text_field :state, class: 'form-control' %>
						<%= f.label :state, value: 'State/Province' %>
					</div>
					<div class="REG input-field">
						<%= f.text_field :ethAdd, class: 'form-control', placeholder: '0x...' %>
						<%= f.label :ethAdd, value: 'Ethereum Address' %>
					</div>
				</div>
				<div class="center-block">
					<% if !@user.isEntity %>
						<div class="REG input-field">
							<%= f.text_field :citizenship, class: 'form-control validate' %>
          		<%= f.label :citizenship, value: 'Citizenship' %>
						</div>
					<% end %>
				</div>
		  	<div class="center-block">
				<div class="REGsubmit">
	    			<%= f.submit "Save", class: "btn" %>
	    		</div>
	    	</div>
		<% end %>
	</div>
</div>
</div>
<div id="edit-ctrls">
	<div class="CTRL kamikaze_btn">
		<%= link_to 'Show', @user %>
	</div>
	<div class="CTRL kamikaze_btn inv">
		<%= link_to 'Back', users_path %>
	</div>
</div>
<!-- <%= render 'form', user: @user %> -->












