<% provide(:title, "Sign Up") %>

<div class="signup">
<div class="container">
	<div class="row">
		<div class="signup-holder col-md-6 col-md-offset-3">
			<%= form_for(@user, url: '/signup') do |f| %>
				<%= render 'shared/error_messages' %>
				<%= f.label :firstName, value: 'First Name *' %>
				<%= f.text_field :firstName, class: 'form-control' %>
				
				<%= f.label :lastName, value: 'Last Name *' %>
				<%= f.text_field :lastName, class: 'form-control' %>
				
				<%= f.label :email, value: 'Email *' %>
				<%= f.text_field :email, class: 'form-control' %>

				<%= f.label :phoneNumber, value: 'Phone Number' %>
				<%= f.text_field :phoneNumber, class: 'form-control' %>

				<%= f.label :ethAdd, value: 'Ethereum Address' %>
				<%= f.text_field :ethAdd, class: 'form-control' %>

				<%= f.label :bitAdd, value: 'Bitcoin Address' %>
				<%= f.text_field :bitAdd, class: 'form-control' %>

				<%= f.label :estimatedContribution, value: 'Estimated Contribution (USD) *' %>
				<%= f.text_field :estimatedContribution, class: 'form-control' %>

				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>

				<%= f.label :password_confirmation, "Password Confirmation" %>
			  <%= f.password_field :password_confirmation, class: 'form-control' %>

		    <%= f.submit "Create my account", class: "btn btn-primary" %>
			<% end %>

			<p>Existing user? <%= link_to "Login Here!", login_path %></p>
		</div>
	</div>
</div>
</div>