<h1>New User</h1>

<%= form_for(@user) do |f| %>
	<div>
		<%= f.label :firstName %>
		<%= f.text_field :firstName %>
	</div>
	<div>
	<%= f.label :lastName %>
	<%= f.text_field :lastName %>
	</div>
	<div>
	<%= f.label :email %>
	<%= f.text_field :email %>
	</div>
	<div>
	<%= f.label :password %>
	<%= f.text_field :password %>
	</div>
	<div>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
	</div>
<% end %>

<%= link_to 'Back', users_path %>
