<!-- 
	FLIPCOIN TOKEN SALE REGISTRATION
	August 25, 2017
-->

<% provide(:title, "Sign Up") %>

<div class="signup">
<div class="container">
	<div class="signup-holder" id ="signup-collapse">
		<h2>FlipCoin Token Sale Registration</h2>
		<p id="ERRexistence" class="paragraph center">Already registered? <%= link_to "Login", login_path %></p>
		<!-- <div class="collapse in" id="individual"> -->
		  <!-- <div class="card card-block"> -->
				<%= form_for(@user, url: '/signup') do |f| %>
					<%= render 'shared/error_messages' %>
					<div class="center-block">
						<div class="REG fname">
							<%= f.text_field :firstName, class: 'form-control', placeholder: "John" %>
							<%= f.label :firstName, value: 'First Name (required)' %>
						</div>
						<div class="REG lname">
							<%= f.text_field :lastName, class: 'form-control', placeholder: "Doe" %>
							<%= f.label :lastName, value: 'Last Name (required)' %>
						</div>
					</div>
					<div class="center-block">
						<div class="REG email">
							<%= f.text_field :email, class: 'form-control', placeholder: "johndoe123@example.com" %>
							<%= f.label :email, value: 'Email (required)' %>
						</div>
						<div class="REG phone">
							<%= f.text_field :phoneNumber, class: 'form-control', placeholder: "1-888-222-6666" %>
							<%= f.label :phoneNumber, value: 'Phone Number' %>
						</div>
					</div>
					<!-- DELETED ADDRESS INPUTS -->
					<div class="center-block">
						<div class="REG add1">
							<%= f.text_field :address1, class: 'form-control' %>
							<%= f.label :address1, value: 'Address Line 1 (required)' %>
						</div>
						<div class="REG add2">
							<%= f.text_field :address2, class: 'form-control' %>
							<%= f.label :address2, value: 'Address Line 2' %>
						</div>
					</div>
					<div class="center-block">
						<div class="REG city">
							<%= f.text_field :city, class: 'form-control' %>
							<%= f.label :city, value: 'City (required)' %>
						</div>
						<div class="REG zip">
							<%= f.text_field :zipCode, class: 'form-control' %>
							<%= f.label :zipCode, value: 'Postal / Zip Code (required)' %>
						</div>
					</div>
					<div class="center-block">
						<div class="REG state">
							<%= f.text_field :state, class: 'form-control' %>
							<%= f.label :state, value: 'State/Province (required)' %>
						</div>
						<div class="REG dob">
							<%= f.text_field :dob, class: "form-control datepicker"%>
							<%= f.label :dob, value: 'Date of Birth (required)' %>
						</div>
					</div>
					<div class="center-block">	
						<div class="REG pass">
							<%= f.password_field :password, class: 'form-control' %>
							<%= f.label :password, value: 'Password (required)' %>
						</div>
						<div class="REG confirm">
				  		<%= f.password_field :password_confirmation, class: 'form-control' %>
				  		<%= f.label :password_confirmation, "Password Confirmation (required)" %>
			  		</div>
			  	</div>
			  	<div class="center-block">
			  		<div class="REG estimate">
							<%= f.text_field :estimatedContribution, class: 'form-control', placeholder: "5000" %>
							<%= f.label :estimatedContribution, value: 'Estimated Contribution (USD) *' %>
						</div>
						<div class="REGsubmit kamikaze_btn">
		    			<%= f.submit "Submit", class: "btn" %>
		    		</div>
	    		</div>
				<% end %>
	  <p class="paragraph center" style="padding-left:0 !important;">
			Questions?<br>
			Give us a call! (224)-688-9977
		</p>
		<p class="pp-description shrink">*: please note this number is for internal feedback & is not legally binding in any way.
		</p>
	</div>
</div>
</div>