<% provide(:title, @user.firstName + " " + @user.lastName ) %>

<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @user.firstName + " " + @user.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<% if current_user.admin %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Home', '/' %>
