<!-- 
Official Flipcoin Website
Author: Christopher Li
Github.com/Christopher-Li
Created: July 2017
 -->

<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Flipcoin is a new cryptocurrency token that allows users easier access to Coinflip, a Chicagoland bitcoin ATM.">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Christopher Li">
  <title><%= yield(:title) %> | Flipcoin - ATM tokens</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
	
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'jquery-3.2.1.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if yield(:noNav) %>
      <nav id="application-navbar" class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a href="/">
              <%= image_tag("coinflip-coin@.5x.png", :alt => "coinflip logo", :class => "logo") %>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <% if current_user.admin %>
                  <li><%= link_to 'All Users', '/users' %></li>
                <% end %>
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              <% else %>
                <li><a href="/login">Login</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
