<!-- 
Official Flipcoin Website
Author: Christopher Li
        Jack Kasbeer
Github.com/Christopher-Li
github.com/jcksber
Created: July 2017
 -->

<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="FlipCoin (ATM) | Official Page">
  <meta name="description" content="We are excited to offer FlipCoin tokens to our dedicated supporters. FlipCoin is a cryptocurrency token that allows users easier access to CoinFlip and the cash to crypto market. They are treated as a membership token that will provide benefits for those who own it, with access to significant discounts, consulting, crypto networking events, and educational literature/videos created by CoinFlip (among other things).">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Christopher Li, Jack Kasbeer">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Open Graph -->
  <meta property="og:title" content="FlipCoin (ATM) | Official CoinFlip Token"/>
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.flipcoinsale.com/assets/coinflip-coin@.5x-8741b2359b6ec31afe1a9b6bdcb43ba0f75c70694fcee32b2663d2db821d5ba3.png"/>
  <meta property="og:url" content="https://www.flipcoinsale.com"/>
  <meta property="og:site_name" content="FlipCoin (ATM) | Official CoinFlip Token">
     <!-- <meta property="fb:page_id" content=""> -->
  <meta property="og:email" content="info@coinflip.tech">
  <meta property="og:region" content="IL">
  <meta property="og:country-name" content="United States of America">
  <meta property="og:description" content="We are excited to offer FlipCoin tokens to our dedicated supporters. FlipCoin is a cryptocurrency token that allows users easier access to CoinFlip and the cash to crypto market. They are treated as a membership token that will provide benefits for those who own it, with access to significant discounts, consulting, crypto networking events, and educational literature/videos created by CoinFlip (among other things).">
  <!-- Twitter -->
  <meta property="twitter:card" content="FlipCoin (ATM) | Official CoinFlip Token">
  <meta property="twitter:url" content="https://twitter.com/coinflipatm">
  <meta property="twitter:title" content="FlipCoin (ATM) | Official CoinFlip Token">
  <meta property="twitter:description" content="We are excited to offer FlipCoin tokens to our dedicated supporters. FlipCoin is a cryptocurrency token that allows users easier access to CoinFlip and the cash to crypto market. They are treated as a membership token that will provide benefits for those who own it, with access to significant discounts, consulting, crypto networking events, and educational literature/videos created by CoinFlip (among other things).">
  <meta property="twitter:image" content="https://www.flipcoinsale.com/assets/coinflip-coin@.5x-8741b2359b6ec31afe1a9b6bdcb43ba0f75c70694fcee32b2663d2db821d5ba3.png">
  <!-- Google Ziz -->
  <link rel="canonical" href="https://www.flipcoinsale.com">

  <!-- Header Content -->
  <title>FlipCoin (ATM) | Official Page</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'kamikaze-iz-pricel', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>

  <body>
    <% if yield(:nav) != "noNav" %>
      <div id="application-navbar" class="navbar-fixed">
        <nav class= "white">
          <div class="nav-wrapper">
            <div class="container">
              <a href="/" class="brand-logo">
                <%= image_tag("coinflip-coin@.5x.png", :alt => "coinflip logo", :class => "logo") %>
              </a>
              <ul class="right">
                <% if current_user %>
                  <% if current_user.admin %>
                    <li><%= link_to 'All Users', '/users', :class => "grey-text text-darken-1" %></li>
                  <% end %>
                <% else %>
                  <li><a class="grey-text text-darken-1" href="/login">Login</a></li>
                  <li><a class="grey-text text-darken-1" href="/signup">Register</a></li>
                <% end %>
                <% if current_user %>
                  <li><%= link_to 'Profile', current_user, :class => "grey-text text-darken-1" %></li>
                  <li><%= link_to 'Logout', logout_path, { method: :delete, :class => "grey-text text-darken-1"} %></li>
                <% end %>
                </ul>
             </div>
          </div>
        </nav>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
          <% if current_user.admin %>
            <li><%= link_to 'All Users', '/users' %></li>
          <% end %>
        <% else %>
          <li><a class="grey-text text-darken-1" href="/login">Login</a></li>
          <li><a class="grey-text text-darken-1" href="/signup">Register</a></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to 'Profile', current_user %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% end %>
      </ul>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  </body>
</html>
